<!DOCTYPE html>
<html lang="en">
<head>
  <title>OneMonthStripePayments</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content" class="container">
      <header id="content-header">
          <div id="price-container">
            <span class="glyphicon glyphicon-tag"></span><span class="price">$4.99</span>
          </div>
          <%= image_tag('header-image.jpg', id: 'content-header-img', alt:'Learn Growth Hacking') %>
      </header>

      <%= yield %>

  </div>
  <footer id="site-footer">
  Made by <a href="http://onemonth.com" target="_blank">
  <%= image_tag('one-month-logo.svg', id: 'one-month-footer-logo', alt:'One Month') %>
  </a>
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="author-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span>About the Teacher</h4>
        </div>
        <div class="modal-body clearfix">
              <div id="modal-left" class="pull-left">
                  <p><strong>Mattan Griffel</strong></p>
                  <p>Hey, I'm Mattan Griffel, co-founder of the Y Combinator backed <a href="http://www.onemonth.com" target="_blank">One Month</a> where I teach the best selling One Month Rails and One Month Growth Hacking.</p>
                  <p>Why take my class? In the past I've advised companies like Pepsico, Bloomberg, GM, NYSE, and JPMorgan on growth hacking best practices. I've also spoken at New York University, Cooper Union and First Round Capital. My goal is to help you and other entrepreneurs rapidly grow your business.
                  </p>
                  <p>Follow me on Twitter <a href="https://twitter.com/mattangriffel" target="_blank">@mattangriffel</a></p>
              </div>
              <div id="modal-right" class="pull-right">
                  <%= image_tag('teacher-image.jpg', id: 'image', alt:'Mattan Griffel') %>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
